<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="landing">
        <h1>📧 Spam Email Classifier </h1>
        <p>Instantly check if an email or message is spam using Machine Learning.</p>
        <a href="/classifier" class="start-btn">Start Analyzing</a>
    </div>

    <footer class="footer">
        Made by <strong>Manna Singh</strong>
    </footer>
</body>
</html>
